PORT=8000
DATABASE_URL=mongodb+srv://Facebook:PASSWORD@cluster0.kjapgue.mongodb.net/facebook?retryWrites=true&w=majority&appName=Cluster0
TOKEN_SECRET=replace-with-a-private-random-secret
BASE_URL=http://localhost:3000
EMAIL=
MAILING_ID=
MAILING_SECRET=
MAILING_REFRESH=
MAILING_ACCESS=
CLOUD_NAME=
CLOUD_API_KEY=
CLOUD_API_SECRET=
