PORT=8000
DATABASE_URL=mongodb+srv://USERNAME:PASSWORD@YOUR_CLUSTER.mongodb.net/facebook?retryWrites=true&w=majority
TOKEN_SECRET=replace-with-a-long-random-secret
BASE_URL=http://localhost:3000
EMAIL=
MAILING_ID=
MAILING_SECRET=
MAILING_REFRESH=
MAILING_ACCESS=
CLOUD_NAME=
CLOUD_API_KEY=
CLOUD_API_SECRET=
